@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Poppins&display=swap');

$fontinter: 'Inter', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
$bgcolor: #f1f1ef;
$graycolor: #b8b4b4;
$purplecolor: #5e18bb;
$precioBrow: #332927;
$porcentajeblue: #f0e3fe;
$orange: #fc462d;
$colorwhite: #fff;
$bgModal: #33292780;
$bgButtom: #0ac763;
